.naslovna-fotografija {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.o-nama-wrapper {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 30px;
    margin: auto;
    align-items: center;
}

.onama-photo {
    width: 50%;
    height: 400px;
    object-fit: cover;
}

.o-nama-wrapper p {
    width: 50%;
    text-align: justify;
    font-size: 18px;
}

@media only screen and (max-width: 800px) {
    .o-nama-wrapper {
        flex-direction: column;
    }

    .onama-photo {
        width: 100%;
        height: 300px;
    }

    .o-nama-wrapper p {
        width: 100%;
        font-size: 14px;
    }
}

.naslov-sekcije{
    text-align: center;
    padding: 15px;
    background-color: #d0bdf4;
    border-top: 2px solid purple;
    border-bottom: 2px solid purple;
    margin-top: 30px;
    font-style: italic;
}